@import (reference) "../../../../../global.less";

.tracker-single-description{
    display: block;
    margin-top: 15px;
    background: @color-input-dark;
    input{
        display: block;
        width: 100%;
        background: transparent;
        color: @color-text;
        border: 0;
        font-size: 14px;
        font-weight: 300;
        padding: 9px 16px;
        outline: none;
    }
}
