{
  "presets": [
    ["env", {
      "targets": { "node": 6 },
      "useBuiltIns": true
    }],
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
      "add-module-exports"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": [
          "transform-decorators-legacy",
          "babel-plugin-dev-expression"
      ]
    },
    "development": {
      "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "react-hot-loader/babel",
      ]
    }
  }
}
