@color-text: "";
@color-background-main: "";
@color-status-running: "";
@color-status-paused: "";
@color-input-dark: "";

@color-action: "";
@color-danger: "";
@color-warning: "";
@color-success: "";

@padding-main: "";
@padding-input-large: "";
@padding-input: "";

@font-family: "Open Sans", sans-serif;

*{
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

body{
    margin: 0;
    background: #000;
    font-family: @font-family;
    color: @color-text;
}

// scrollbars
::-webkit-scrollbar {
    width: 4px;
    background-color: @color-input-dark;
}
::-webkit-scrollbar:horizontal {
    height: 4px;
    background-color: @color-input-dark;
}
::-webkit-scrollbar-track {
    width: 4px;
    border-radius: 0px;
}
::-webkit-scrollbar-thumb {
    background-color: @color-action;
    border-radius: 0px;
}
::-webkit-scrollbar-corner{
    background-color: @color-input-dark;
}
