@color-text: "";
@color-background-main: "";
@color-status-running: "";
@color-status-paused: "";
@color-input-dark: "";

@color-action: "";
@color-danger: "";
@color-warning: "";
@color-success: "";

@padding-main: "";
@padding-input-large: "";
@padding-input: "";

@font-family: "Open Sand", sans-serif;

*{
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
}

body{
    margin: 0;
    background: #000;
    font-family: @font-family;
    color: @color-text;
}
